.Container {
    background-color: #9CC6DB;
    color: #0A1F2F;
    width: 600px;
    height: auto;
    border: 2px double black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    border-radius: 20px;
    padding-left:20px ;

}

.content {
    justify-content: center;
    align-items: center;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.Header {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: #CF4B00;
    color: wheat;
    margin-bottom: 30px;
    width: 600px;
    border-radius: 20px;
    margin: 0 auto;
    padding: auto;

}

.heading {
    background-color: #222222;
    color: white;
    border-radius: 20px;
    text-align: center;
    padding: 3px;
}

img{
    width: 200px;
    height: auto;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: auto;
    border-radius: 50%;
    border: 2px solid black;
    background-color: white;
}